.media-object-button {
  width: 50px;
  height: 50px;
}

.enabled-btn {
  border: 0;
  background-color: var(--primary-bright-moss);
}

.smaller {
  font-size: .90rem;
}

.vsmall {
  font-size: 1.40rem;
  line-height: 1.40rem;
}

.arrow-container {
  display: flex;
  justify-content: center;
}