.media-object-button {
}

.enabled-btn {
  border: 0;
  background-color: var(--primary-bright-moss);
}

.smaller {
  font-size: .90rem;
}

.vsmall {
  font-size: .90rem;
}

.arrow-container {
  display: flex;
  justify-content: center;
}