.media-object-button {
}

.enabled-btn {
  border: 0;
  /*background-color: var(--primary-dark-meadow);*/
  background-color: var(--primary-bright-moss);
}

.smaller {
  font-size: .90rem;
}

.vsmall {
  font-size: .85rem;
  vertical-align: 5%;
}