.media-object-text {
}

.sub-heading {
  margin: 0;
  text-transform: uppercase;
  font-size: .6rem;
  color: var(--secondary-dark-thunder);
}

.role {
  margin: -3px 0 10px 0;
  text-transform: uppercase;
  font-size: .6rem;
  color: var(--secondary-dark-thunder);
}